<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <style>
        @font-face {
            font-family: "Digital-7";
            src: url("https://cdn.glitch.global/eb8528e2-d772-4d1c-b9bd-59867dbca6dc/SometypeMono-Regular.ttf?v=1697911707944") format("woff");
            font-weight: normal;
            font-style: normal;
        }

        body {
            background-color: #000;
            color: #f00;
            font-family: "Digital-7", sans-serif;
            font-size: 36px;
            margin: 0;
            padding: 0;
        }

        .message-board {
            width: 800px;
            margin: 20px auto;
            background-color: #000;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
        }

        .train-time {
            font-size: 24px;
            text-shadow: 0 0 10px #f00, 0 0 20px #f00, 0 0 30px #f00;
        }
    </style>
</head>

<body>
    <div class="message-board">
        <div class="train-time" id="train-time">
            <p id="firstTerminus">
            </p>
            <p id="firstCarDetails"></p>
            <p id="secondTerminus">
            </p>
            <p id="secondCarDetails"></p>
        </div>
    </div>
    <script>

        function getCurrentTime() {
            const now = new Date();
            let hours = now.getHours();
            let minutes = now.getMinutes();
            const ampm = hours >= 12 ? 'PM' : 'AM';

            // Convert hours to 12-hour format
            hours = hours % 12;
            hours = hours ? hours : 12; // 12 AM and 12 PM should both be displayed as 12

            // Ensure that single-digit minutes have a leading zero
            if (minutes < 10) {
                minutes = '0' + minutes;
            }

            const formattedTime = `${hours}:${minutes}${ampm}`;
            return formattedTime;
        }

        function reset() {
            document.getElementById("train-time").innerHTML = '<p id="firstTerminus">             </p>             <p id="firstCarDetails"></p>             <p id="secondTerminus">                 </p>             <p id="secondCarDetails"></p>'
        }

        function displayTime() {
            document.getElementById("train-time").innerHTML = "<center><br><h1>TIME: " + getCurrentTime() + "</h1></center>"
        }

        function leaving(station, cars, its) {
            console.log("leaving!")
            while (its != 0) {
                document.getElementById("train-time").innerHTML = ""
                document.getElementById("train-time").innerHTML = "<center><h1>" + station + "</h1><h3>" + cars + "</h3></center>"
                setTimeout(function () { its-- }, 3000);
            }
            setTimeout(reset(), 5000);
            reset()
            getTrainUpdates()
        }

        function getTrainUpdates() {
            setTimeout(function() {reset()}, 4000);
            $.post("/s/" + window.location.href.slice(-4), function (data) {
                reset()
                // If there are more than two lines in operation
                if (data.trains.length >= 2) {
                    // if the first train is leaving
                    if (data.trains[0]["estimates"][0]["time"] == 0) {
                        leaving(data.trains[0]["lineTerminus"], data.trains[0]["lineTerminus"][0]["formatted"], 5)
                    }

                    // if the second train is leaving
                    if (data.trains[1]["estimates"][0]["time"] == 0) {
                        // DO THE BIG LEAVING SIGN
                        leaving(data.trains[1]["lineTerminus"], data.trains[1]["lineTerminus"][0]["formatted"], 5)
                    }

                    term1 = data.trains[0]["lineTerminus"].toUpperCase()
                    term2 = data.trains[1]["lineTerminus"].toUpperCase()

                    const maxLen = 30

                    var term1Distance = maxLen - term1.length
                    var term2Distance = maxLen - term2.length

                    console.log(data.trains[1]["estimates"][1])

                    if (data.trains[0]["estimates"].length == 1) {
                        console.log("*********** HIT @ t1")
                        term1Distance++
                        term1Distance++
                    }

                    if (data.trains[1]["estimates"].length == 1) {
                        console.log("********** HIT @ t2")
                        term2Distance++
                        term2Distance++
                    }

                    const tabsOrSpaces = '&emsp;'.repeat(term1Distance);
                    const tabsOrSpaces2 = '&emsp;'.repeat(term2Distance);

                    if (data.trains[0]["estimates"].length == 1) {
                        document.getElementById("firstTerminus").innerHTML = term1 + tabsOrSpaces + data.trains[0]["estimates"][0]["time"]
                    } else {
                        document.getElementById("firstTerminus").innerHTML = term1 + tabsOrSpaces + data.trains[0]["estimates"][0]["time"] + "," + data.trains[0]["estimates"][1]["time"]
                    }

                    doors1 = data.trains[0]["estimates"][0]["formatted"].substring(0, data.trains[0]["estimates"][0]["formatted"].length - " train".length).toUpperCase()

                    if (doors1.includes("UNKNOWN")) {
                        document.getElementById("firstCarDetails").innerHTML = doors1.slice(-", UNKNOWN DOOR".length)
                    } else {
                        document.getElementById("firstCarDetails").innerHTML = doors1
                    }




                    if (data.trains[1]["estimates"].length == 1) {
                        document.getElementById("secondTerminus").innerHTML = term2 + tabsOrSpaces2 + data.trains[1]["estimates"][0]["time"]
                    } else {
                        document.getElementById("secondTerminus").innerHTML = term2 + tabsOrSpaces2 + data.trains[1]["estimates"][0]["time"] + "," + data.trains[1]["estimates"][1]["time"]
                    }

                    doors2 = data.trains[1]["estimates"][0]["formatted"].substring(0, data.trains[1]["estimates"][0]["formatted"].length - " train".length).toUpperCase()

                    if (doors2.includes("UNKNOWN")) {
                        document.getElementById("secondCarDetails").innerHTML = doors2.slice(-", UNKNOWN DOOR".length)
                    } else {
                        document.getElementById("secondCarDetails").innerHTML = doors2
                    }

                    // if there is only one line in operation
                } else if (data.trains.length == 1) {
                    // if the first train is leaving
                    if (data.trains[0]["estimates"][0]["time"] == 0) {
                        // DO THE BIG LEAVING SIGN
                        leaving(data.trains[0]["lineTerminus"], data.trains[0]["lineTerminus"][0]["formatted"], 5)
                    }

                    term1 = data.trains[0]["lineTerminus"].toUpperCase()

                    const maxLen = 30

                    var term1Distance = maxLen - term1.length


                    if (data.trains[0]["estimates"].length == 1) {
                        console.log("*********** HIT @ t1")
                        term1Distance++
                        term1Distance++
                    }

                    const tabsOrSpaces = '&emsp;'.repeat(term1Distance);

                    if (data.trains[0]["estimates"].length == 1) {
                        document.getElementById("firstTerminus").innerHTML = term1 + tabsOrSpaces + data.trains[0]["estimates"][0]["time"]
                    } else {
                        document.getElementById("firstTerminus").innerHTML = term1 + tabsOrSpaces + data.trains[0]["estimates"][0]["time"] + "," + data.trains[0]["estimates"][1]["time"]
                    }

                    doors1 = data.trains[0]["estimates"][0]["formatted"].substring(0, data.trains[0]["estimates"][0]["formatted"].length - " train".length).toUpperCase()

                    if (doors1.includes("UNKNOWN")) {
                        document.getElementById("firstCarDetails").innerHTML = doors1.slice(-", UNKNOWN DOOR".length)
                    } else {
                        document.getElementById("firstCarDetails").innerHTML = doors1
                    }


                    document.getElementById("secondTerminus").innerHTML = ""
                    document.getElementById("secondCarDetails").innerHTML = ""
                } else {
                    document.getElementById("train-time").innerHTML = "Sorry, no trains available at this time"
                }


            })

            setTimeout(function() {displayTime()}, 15000);
            console.log("buller tester")
            
            
        }

        getTrainUpdates()
        setInterval(getTrainUpdates, 10000);

    </script>
</body>

</html>